
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Verdana", sans-serif;
}
body {
  display: flex;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a9b2d6de;
}
.button {
  position: relative;
  padding: 20px 40px;
  border-radius: 6px;
  border-style:solid;
  border-width: thick;
  border-color:rgb(8, 8, 8);
  color: rgb(8, 8, 8);
  cursor: pointer;
  background-color: #fbfeff;
  transition: all 0.2s ease;
  font-size: medium; 
  font-weight: bolder;
  box-shadow: 10px 10px 10px grey;
}
.button:active {
  transform: scale(0.96);
}
.button:before,
.button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}
.button.animate::before {
  top: -90%;
  background-image: radial-gradient(circle, #090d0e 30%, transparent 20%),
    radial-gradient(circle, transparent 20%, #090d0e 20%, transparent 30%),
    radial-gradient(circle, #090d0e 20%, transparent 20%),
    radial-gradient(circle, #090d0e 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #090d0e  15%, transparent 20%),
    radial-gradient(circle, #090d0e 20%, transparent 20%),
    radial-gradient(circle, #090d0e 20%, transparent 20%),
    radial-gradient(circle, #090d0e 20%, transparent 20%),
    radial-gradient(circle, #090d0e 20%, transparent 20%),
    radial-gradient(circle, #090d0e 20%, transparent 20%);
  background-size: 5% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%, 20% 30%;
  animation: circletop ease-out 1s;
  }
@keyframes circletop {
  0% {
    background-position: 10% 70%, 10% 90%, 10% 90%, 15% 85%, 40% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%, 10% 70%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0%;
  }
}
.button.animate::after {
  bottom: -100%;
  background-image: radial-gradient(circle, #090d0e 20%, transparent 20%),
    radial-gradient(circle, #090d0e 20%, transparent 20%),
    radial-gradient(circle, #090d0e 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #090d0e 15%, transparent 20%),
    radial-gradient(circle, #090d0e 20%, transparent 20%),
    radial-gradient(circle, #090d0e 20%, transparent 20%),
    radial-gradient(circle, #090d0e 20%, transparent 20%),
    radial-gradient(circle, #090d0e 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 15% 15%, 18% 18%;
  animation: circledown ease-out 1s;
}
@keyframes circledown {
  0% {
    background-position: 10% -10%, 25% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 80%, 20% 90%, 30% 60%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0%;
  }

}
 